In [1]:
import numpy as np
import pandas as pd

In [2]:
Transaction = pd.read_csv('data/E-Commerce.csv', encoding = "ISO-8859-1")

In [3]:
Transaction.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [4]:
T = Transaction['InvoiceNo']
type(T)

pandas.core.series.Series

## Indexing other than default index

In [5]:
Transaction = pd.read_csv('data/E-Commerce.csv', encoding = "ISO-8859-1", index_col='InvoiceNo' )

In [6]:
Transaction.head()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [7]:
# Indexing Operator
Transaction[0:10]

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [8]:
# Indexing Operator also can be used for columns
Transaction['StockCode'].head()

InvoiceNo
536365    85123A
536365     71053
536365    84406B
536365    84029G
536365    84029E
Name: StockCode, dtype: object

In [10]:
# or for list of columns
Transaction[['StockCode', 'InvoiceDate', 'CustomerID']].head()

          StockCode     InvoiceDate  CustomerID
InvoiceNo
536365       85123A  12/1/2010 8:26     17850.0
536365        71053  12/1/2010 8:26     17850.0
536365       84406B  12/1/2010 8:26     17850.0
536365       84029G  12/1/2010 8:26     17850.0
536365       84029E  12/1/2010 8:26     17850.0

In [11]:
# However, you cannot use Indexing Operator for both rows and columns
Transaction[0:10, ['StockCode', 'InvoiceDate', 'CustomerID'] ]

TypeError: '(slice(0, 10, None), ['StockCode', 'InvoiceDate', 'CustomerID'])' is an invalid key

In [12]:
# For using rows and columns slicing together, you have to use Indexers, which are .loc or .iloc
# Since loc is used for string indexing and iloc used for number indexing, you have to convert both in numbers or strings.
Transaction.loc[0:10, ['StockCode', 'InvoiceDate', 'CustomerID']]

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [13]:
Transaction.loc['536365', ['StockCode', 'InvoiceDate', 'CustomerID']]

          StockCode     InvoiceDate  CustomerID
InvoiceNo
536365       85123A  12/1/2010 8:26     17850.0
536365        71053  12/1/2010 8:26     17850.0
536365       84406B  12/1/2010 8:26     17850.0
536365       84029G  12/1/2010 8:26     17850.0
536365       84029E  12/1/2010 8:26     17850.0
536365        22752  12/1/2010 8:26     17850.0
536365        21730  12/1/2010 8:26     17850.0

In [14]:
rows_string = Transaction.iloc[0:10].index.tolist()
rows_string

['536365',
 '536365',
 '536365',
 '536365',
 '536365',
 '536365',
 '536365',
 '536366',
 '536366',
 '536367']

In [21]:
Transaction.index

Index(['536365', '536365', '536365', '536365', '536365', '536365', '536365',
       '536366', '536366', '536367',
       ...
       '581587', '581587', '581587', '581587', '581587', '581587', '581587',
       '581587', '581587', '581587'],
      dtype='object', name='InvoiceNo', length=541909)

In [22]:
Transaction.head(10)

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [23]:
# To use index string 
Start = Transaction.index[0]
Stop = Transaction.index[9]
Start, Stop

('536365', '536367')

In [24]:
Transaction.loc[Start: Stop, ['StockCode', 'InvoiceDate', 'CustomerID']]

          StockCode     InvoiceDate  CustomerID
InvoiceNo
536365       85123A  12/1/2010 8:26     17850.0
536365        71053  12/1/2010 8:26     17850.0
536365       84406B  12/1/2010 8:26     17850.0
536365       84029G  12/1/2010 8:26     17850.0
536365       84029E  12/1/2010 8:26     17850.0
536365        22752  12/1/2010 8:26     17850.0
536365        21730  12/1/2010 8:26     17850.0
536366        22633  12/1/2010 8:28     17850.0
536366        22632  12/1/2010 8:28     17850.0
536367        84879  12/1/2010 8:34     13047.0
536367        22745  12/1/2010 8:34     13047.0
536367        22748  12/1/2010 8:34     13047.0
536367        22749  12/1/2010 8:34     13047.0
536367        22310  12/1/2010 8:34     13047.0
536367        84969  12/1/2010 8:34     13047.0
536367        22623  12/1/2010 8:34     13047.0
536367        22622  12/1/2010 8:34     13047.0
536367        21754  12/1/2010 8:34     13047.0
536367        21755  12/1/2010 8:34     13047.0
536367        21777  12/1/2010 8:34     13047.0
536367        48187  12/1/2010 8:34     13047.0

In [25]:

Transaction.head()

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [26]:
# Total columns of this DataFrame
Transaction.columns

Index(['StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice',
       'CustomerID', 'Country'],
      dtype='object')

In [27]:
# Now you want to use numbers for both rows and columns for using indexer iloc 
col_start = Transaction.columns.get_loc('StockCode')
col_end = Transaction.columns.get_loc('Country')+1
col_start, col_end

(0, 7)

In [28]:
Transaction.iloc[0:20, col_start: col_end]

,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
InvoiceNo,,,,,,,
536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom

In [29]:
# If you want to select particular columns
col_StockCode = Transaction.columns.get_loc('StockCode')
col_Description = Transaction.columns.get_loc('Description')
col_UnitPrice = Transaction.columns.get_loc('UnitPrice')

col_StockCode, col_Description, col_UnitPrice

(0, 1, 4)

In [30]:
Transaction.iloc[0:20, [col_StockCode, col_Description, col_UnitPrice]]

          StockCode                          Description  UnitPrice
InvoiceNo
536365       85123A   WHITE HANGING HEART T-LIGHT HOLDER       2.55
536365        71053                  WHITE METAL LANTERN       3.39
536365       84406B       CREAM CUPID HEARTS COAT HANGER       2.75
536365       84029G  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
536365       84029E       RED WOOLLY HOTTIE WHITE HEART.       3.39
536365        22752         SET 7 BABUSHKA NESTING BOXES       7.65
536365        21730    GLASS STAR FROSTED T-LIGHT HOLDER       4.25
536366        22633               HAND WARMER UNION JACK       1.85
536366        22632            HAND WARMER RED POLKA DOT       1.85
536367        84879        ASSORTED COLOUR BIRD ORNAMENT       1.69
536367        22745           POPPY'S PLAYHOUSE BEDROOM        2.10
536367        22748            POPPY'S PLAYHOUSE KITCHEN       2.10
536367        22749    FELTCRAFT PRINCESS CHARLOTTE DOLL       3.75
536367        22310              IVORY KNITTED MUG COSY        1.65
536367        84969   BOX OF 6 ASSORTED COLOUR TEASPOONS       4.25
536367        22623        BOX OF VINTAGE JIGSAW BLOCKS        4.95
536367        22622       BOX OF VINTAGE ALPHABET BLOCKS       9.95
536367        21754             HOME BUILDING BLOCK WORD       5.95
536367        21755             LOVE BUILDING BLOCK WORD       5.95
536367        21777          RECIPE BOX WITH METAL HEART       7.95

## Boolean Indexing

In [32]:
Transaction = pd.read_csv('data/E-Commerce.csv', encoding = "ISO-8859-1")

In [38]:
Transaction.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [37]:
Transaction['UnitPrice'] > 5.00

0         False
1         False
2         False
3         False
4         False
5          True
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16         True
17         True
18         True
19         True
20         True
21        False
22        False
23        False
24        False
25         True
26        False
27        False
28        False
29        False
          ...
541879    False
541880    False
541881    False
541882    False
541883    False
541884    False
541885    False
541886    False
541887    False
541888    False
541889    False
541890    False
541891    False
541892     True
541893     True
541894    False
541895    False
541896    False
541897    False
541898    False
541899    False
541900    False
541901    False
541902    False
541903    False
541904    False
541905    False
541906    False
541907    False
541908    False
Name: UnitPrice, Length: 541909, dtype: bool

In [39]:
Transaction[Transaction['UnitPrice'] > 5.00]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,12/1/2010 8:34,7.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,12/1/2010 8:35,5.95,13047.0,United Kingdom
45,536370,POST,POSTAGE,3,12/1/2010 8:45,18.00,12583.0,France
58,536373,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,12/1/2010 9:02,6.95,17850.0,United Kingdom
63,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:02,7.65,17850.0,United Kingdom
65,536374,21258,VICTORIAN SEWING BOX LARGE,32,12/1/2010 9:09,10.95,15100.0,United Kingdom
75,536375,82486,WOOD S/3 CABINET ANT WHITE FINISH,4,12/1/2010 9:32,6.95,17850.0,United Kingdom
80,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:32,7.65,17850.0,United Kingdom
132,536381,15056BL,EDWARDIAN PARASOL BLACK,2,12/1/2010 9:41,5.95,15311.0,United Kingdom
133,536381,15056N,EDWARDIAN PARASOL NATURAL,2,12/1/2010 9:41,5.95,15311.0,United Kingdom
140,536381,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,12/1/2010 9:41,6.75,15311.0,United Kingdom
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
150,536382,22926,IVORY GIANT GARDEN THERMOMETER,12,12/1/2010 9:45,5.95,16098.0,United Kingdom
151,536382,22839,3 TIER CAKE TIN GREEN AND CREAM,2,12/1/2010 9:45,14.95,16098.0,United Kingdom
152,536382,22838,3 TIER CAKE TIN RED AND CREAM,2,12/1/2010 9:45,14.95,16098.0,United Kingdom
153,536382,22783,SET 3 WICKER OVAL BASKETS W LIDS,4,12/1/2010 9:45,16.95,16098.0,United Kingdom
155,536384,82484,WOOD BLACK BOARD ANT WHITE FINISH,3,12/1/2010 9:53,6.45,18074.0,United Kingdom
163,536384,21340,CLASSIC METAL BIRDCAGE PLANT HOLDER,2,12/1/2010 9:53,12.75,18074.0,United Kingdom
165,536384,22427,ENAMEL FLOWER JUG CREAM,3,12/1/2010 9:53,5.95,18074.0,United Kingdom
166,536384,22428,ENAMEL FIRE BUCKET CREAM,6,12/1/2010 9:53,6.95,18074.0,United Kingdom
167,536384,22424,ENAMEL BREAD BIN CREAM,8,12/1/2010 9:53,10.95,18074.0,United Kingdom
168,536385,22783,SET 3 WICKER OVAL BASKETS W LIDS,1,12/1/2010 9:56,19.95,17420.0,United Kingdom
173,536385,22168,ORGANISER WOOD ANTIQUE WHITE,2,12/1/2010 9:56,8.50,17420.0,United Kingdom
183,536388,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 9:59,5.95,16250.0,United Kingdom
184,536388,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 9:59,5.95,16250.0,United Kingdom
...,...,...,...,...,...,...,...,...
541682,581538,23040,PAPER LANTERN 9 POINT SNOW STAR,2,12/9/2011 11:34,5.75,14446.0,United Kingdom
541698,581538,35004B,SET OF 3 BLACK FLYING DUCKS,1,12/9/2011 11:34,5.45,14446.0,United Kingdom
541707,581567,22624,IVORY KITCHEN SCALES,2,12/9/2011 11:56,8.50,16626.0,United Kingdom
541708,581567,22627,MINT KITCHEN SCALES,2,12/9/2011 11:56,8.50,16626.0,United Kingdom
541709,581567,22625,RED KITCHEN SCALES,2,12/9/2011 11:56,8.50,16626.0,United Kingdom
541713,581567,23356,LOVE HOT WATER BOTTLE,3,12/9/2011 11:56,5.95,16626.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541728,581570,20750,RED RETROSPOT MINI CASES,2,12/9/2011 11:59,7.95,12662.0,Germany
541730,581570,POST,POSTAGE,1,12/9/2011 11:59,18.00,12662.0,Germany
541733,581571,48187,DOORMAT NEW ENGLAND,1,12/9/2011 12:00,8.25,15311.0,United Kingdom
541734,581571,23317,BLUE REFECTORY CLOCK,1,12/9/2011 12:00,9.95,15311.0,United Kingdom
541738,581571,22794,SWEETHEART WIRE MAGAZINE RACK,1,12/9/2011 12:00,7.95,15311.0,United Kingdom
541740,581571,21755,LOVE BUILDING BLOCK WORD,1,12/9/2011 12:00,6.25,15311.0,United Kingdom
541742,581571,23110,PARISIENNE KEY CABINET,2,12/9/2011 12:00,5.75,15311.0,United Kingdom
541744,581571,21258,VICTORIAN SEWING BOX LARGE,8,12/9/2011 12:00,10.95,15311.0,United Kingdom
541752,581572,22627,MINT KITCHEN SCALES,4,12/9/2011 12:08,8.50,16705.0,United Kingdom
541753,581572,22624,IVORY KITCHEN SCALES,4,12/9/2011 12:08,8.50,16705.0,United Kingdom
541761,581574,21257,VICTORIAN SEWING BOX MEDIUM,2,12/9/2011 12:09,7.95,12526.0,Germany
541762,581574,21258,VICTORIAN SEWING BOX LARGE,2,12/9/2011 12:09,12.75,12526.0,Germany
541763,581574,23111,PARISIENNE SEWING BOX,2,12/9/2011 12:09,12.50,12526.0,Germany
541767,581574,POST,POSTAGE,2,12/9/2011 12:09,18.00,12526.0,Germany
541768,581578,POST,POSTAGE,3,12/9/2011 12:16,18.00,12713.0,Germany
541786,581578,22622,BOX OF VINTAGE ALPHABET BLOCKS,6,12/9/2011 12:16,11.95,12713.0,Germany
541831,581579,22941,CHRISTMAS LIGHTS 10 REINDEER,4,12/9/2011 12:19,8.50,17581.0,United Kingdom
541849,581580,22894,TABLECLOTH RED APPLES DESIGN,2,12/9/2011 12:20,9.95,12748.0,United Kingdom
541855,581580,21351,CINAMMON & ORANGE WREATH,1,12/9/2011 12:20,6.75,12748.0,United Kingdom
541858,581580,79321,CHILLI LIGHTS,2,12/9/2011 12:20,5.75,12748.0,United Kingdom
541878,581585,23356,LOVE HOT WATER BOTTLE,3,12/9/2011 12:31,5.95,15804.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

In [40]:
Transaction[Transaction['Description'] == 'SET 7 BABUSHKA NESTING BOXES']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
63,536373,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:02,7.65,17850.0,United Kingdom
80,536375,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 9:32,7.65,17850.0,United Kingdom
293,536396,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 10:51,7.65,17850.0,United Kingdom
302,536398,22752,SET 7 BABUSHKA NESTING BOXES,6,12/1/2010 10:52,8.50,13448.0,United Kingdom
430,536406,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 11:33,7.65,17850.0,United Kingdom
1359,536538,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 13:54,8.50,14594.0,United Kingdom
2142,536562,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 15:08,8.50,13468.0,United Kingdom
2382,536587,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 16:33,8.50,14142.0,United Kingdom
3127,536600,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 8:32,7.65,17850.0,United Kingdom
3141,536602,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 8:34,7.65,17850.0,United Kingdom
3206,536609,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 9:41,7.65,17850.0,United Kingdom
3261,536615,22752,SET 7 BABUSHKA NESTING BOXES,4,12/2/2010 10:09,8.50,14047.0,United Kingdom
3335,536621,22752,SET 7 BABUSHKA NESTING BOXES,12,12/2/2010 10:35,8.50,13108.0,United Kingdom
3338,C536622,22752,SET 7 BABUSHKA NESTING BOXES,-2,12/2/2010 10:37,8.50,12471.0,Germany
3439,536628,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 10:54,7.65,17850.0,United Kingdom
3457,536630,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 10:56,7.65,17850.0,United Kingdom
3805,536685,22752,SET 7 BABUSHKA NESTING BOXES,4,12/2/2010 12:23,7.65,17850.0,United Kingdom
3837,536690,22752,SET 7 BABUSHKA NESTING BOXES,4,12/2/2010 12:25,7.65,17850.0,United Kingdom
4123,536749,22752,SET 7 BABUSHKA NESTING BOXES,1,12/2/2010 13:49,8.50,17976.0,United Kingdom
4177,536750,22752,SET 7 BABUSHKA NESTING BOXES,4,12/2/2010 14:04,7.65,17850.0,United Kingdom
4198,536752,22752,SET 7 BABUSHKA NESTING BOXES,4,12/2/2010 14:06,7.65,17850.0,United Kingdom
4469,536783,22752,SET 7 BABUSHKA NESTING BOXES,96,12/2/2010 15:19,7.65,15061.0,United Kingdom
4482,536784,22752,SET 7 BABUSHKA NESTING BOXES,72,12/2/2010 15:20,7.65,15061.0,United Kingdom
4521,536787,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 15:24,7.65,17850.0,United Kingdom
4540,536790,22752,SET 7 BABUSHKA NESTING BOXES,4,12/2/2010 15:26,7.65,17850.0,United Kingdom
5146,536846,22752,SET 7 BABUSHKA NESTING BOXES,2,12/2/2010 19:59,8.50,14573.0,United Kingdom
5951,536876,22752,SET 7 BABUSHKA NESTING BOXES,2,12/3/2010 11:36,16.98,NaN,United Kingdom
6694,536975,22752,SET 7 BABUSHKA NESTING BOXES,6,12/3/2010 14:04,8.50,14911.0,EIRE
7857,537058,22752,SET 7 BABUSHKA NESTING BOXES,2,12/5/2010 11:51,8.50,13269.0,United Kingdom
...,...,...,...,...,...,...,...,...
494865,578278,22752,SET 7 BABUSHKA NESTING BOXES,2,11/23/2011 13:51,8.50,12748.0,United Kingdom
494878,578278,22752,SET 7 BABUSHKA NESTING BOXES,2,11/23/2011 13:51,8.50,12748.0,United Kingdom
496236,578344,22752,SET 7 BABUSHKA NESTING BOXES,2,11/24/2011 9:21,16.63,NaN,United Kingdom
496853,578347,22752,SET 7 BABUSHKA NESTING BOXES,1,11/24/2011 9:26,16.63,NaN,United Kingdom
500881,578811,22752,SET 7 BABUSHKA NESTING BOXES,24,11/25/2011 13:28,7.65,12438.0,Norway
503897,578939,22752,SET 7 BABUSHKA NESTING BOXES,2,11/27/2011 13:14,8.50,17068.0,United Kingdom
506767,579154,22752,SET 7 BABUSHKA NESTING BOXES,3,11/28/2011 13:27,8.50,17218.0,United Kingdom
508261,579196,22752,SET 7 BABUSHKA NESTING BOXES,3,11/28/2011 15:54,16.63,14096.0,United Kingdom
508930,579284,22752,SET 7 BABUSHKA NESTING BOXES,36,11/29/2011 10:52,7.65,15061.0,United Kingdom
510919,579470,22752,SET 7 BABUSHKA NESTING BOXES,3,11/29/2011 15:06,8.50,16549.0,United Kingdom
511029,579471,22752,SET 7 BABUSHKA NESTING BOXES,1,11/29/2011 15:08,16.63,NaN,United Kingdom
513547,579555,22752,SET 7 BABUSHKA NESTING BOXES,2,11/30/2011 11:08,8.50,16241.0,United Kingdom
515618,579777,22752,SET 7 BABUSHKA NESTING BOXES,1,11/30/2011 15:13,16.63,NaN,United Kingdom
515915,579792,22752,SET 7 BABUSHKA NESTING BOXES,8,11/30/2011 15:43,8.50,12714.0,France
518874,580126,22752,SET 7 BABUSHKA NESTING BOXES,10,12/1/2011 17:20,8.50,12562.0,France
525532,580632,22752,SET 7 BABUSHKA NESTING BOXES,2,12/5/2011 12:16,3.95,16360.0,United Kingdom
526121,580650,22752,SET 7 BABUSHKA NESTING BOXES,12,12/5/2011 13:30,3.95,14401.0,United Kingdom
526160,580652,22752,SET 7 BABUSHKA NESTING BOXES,24,12/5/2011 13:33,3.95,17511.0,United Kingdom
526923,580681,22752,SET 7 BABUSHKA NESTING BOXES,4,12/5/2011 15:01,8.50,13083.0,United Kingdom
527872,580727,22752,SET 7 BABUSHKA NESTING BOXES,2,12/5/2011 17:17,16.63,14096.0,United Kingdom
529130,580730,22752,SET 7 BABUSHKA NESTING BOXES,1,12/5/2011 17:28,16.63,NaN,United Kingdom
530078,580778,22752,SET 7 BABUSHKA NESTING BOXES,12,12/6/2011 11:07,3.95,16949.0,United Kingdom
530165,580819,22752,SET 7 BABUSHKA NESTING BOXES,12,12/6/2011 11:30,3.95,15318.0,United Kingdom
530736,580880,22752,SET 7 BABUSHKA NESTING BOXES,24,12/6/2011 12:19,3.95,14121.0,United Kingdom
531139,580904,22752,SET 7 BABUSHKA NESTING BOXES,24,12/6/2011 12:59,3.95,15311.0,United Kingdom
532697,580986,22752,SET 7 BABUSHKA NESTING BOXES,24,12/6/2011 16:34,3.95,12650.0,France
533157,581015,22752,SET 7 BABUSHKA NESTING BOXES,12,12/7/2011 9:35,3.95,13949.0,United Kingdom
536146,581219,22752,SET 7 BABUSHKA NESTING BOXES,2,12/8/2011 9:28,16.63,NaN,United Kingdom
538804,581415,22752,SET 7 BABUSHKA NESTING BOXES,12,12/8/2011 14:53,3.95,13269.0,United Kingdom
540006,581454,22752,SET 7 BABUSHKA NESTING BOXES,12,12/8/2011 18:22,3.95,15156.0,United Kingdom

In [42]:
Transaction['InvoiceDate'] > '12/1/2010 8:26'

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
541879     True
541880     True
541881     True
541882     True
541883     True
541884     True
541885     True
541886     True
541887     True
541888     True
541889     True
541890     True
541891     True
541892     True
541893     True
541894     True
541895     True
541896     True
541897     True
541898     True
541899     True
541900     True
541901     True
541902     True
541903     True
541904     True
541905     True
541906     True
541907     True
541908     True
Name: InvoiceDate, Length: 541909, dtype: bool

In [43]:
Transaction[Transaction['InvoiceDate'] > '12/1/2010 8:26'].head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom

In [44]:
Transaction.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

## Analyzation

In [45]:
Transaction.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [46]:
Transaction['Quantity'].isnull().sum()

0

In [48]:
Transaction.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [49]:
Transaction.isnull().head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False

In [50]:
Transaction['Description'].isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
541879    False
541880    False
541881    False
541882    False
541883    False
541884    False
541885    False
541886    False
541887    False
541888    False
541889    False
541890    False
541891    False
541892    False
541893    False
541894    False
541895    False
541896    False
541897    False
541898    False
541899    False
541900    False
541901    False
541902    False
541903    False
541904    False
541905    False
541906    False
541907    False
541908    False
Name: Description, Length: 541909, dtype: bool

In [51]:
Transaction[Transaction['Description'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
1988,536550,85044,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
2024,536552,20950,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
2025,536553,37461,NaN,3,12/1/2010 14:35,0.0,NaN,United Kingdom
2026,536554,84670,NaN,23,12/1/2010 14:35,0.0,NaN,United Kingdom
2406,536589,21777,NaN,-10,12/1/2010 16:50,0.0,NaN,United Kingdom
4347,536764,84952C,NaN,-38,12/2/2010 14:42,0.0,NaN,United Kingdom
4348,536765,84952C,NaN,19,12/2/2010 14:43,0.0,NaN,United Kingdom
7187,536995,35951,NaN,57,12/3/2010 15:29,0.0,NaN,United Kingdom
7188,536996,22712,NaN,-20,12/3/2010 15:30,0.0,NaN,United Kingdom
7189,536997,22028,NaN,-20,12/3/2010 15:30,0.0,NaN,United Kingdom
7190,536998,85067,NaN,-6,12/3/2010 15:30,0.0,NaN,United Kingdom
7191,536999,21421,NaN,110,12/3/2010 15:32,0.0,NaN,United Kingdom
7192,537000,21414,NaN,-22,12/3/2010 15:32,0.0,NaN,United Kingdom
7193,537001,21653,NaN,-6,12/3/2010 15:33,0.0,NaN,United Kingdom
7194,537002,21651,NaN,70,12/3/2010 15:33,0.0,NaN,United Kingdom
7195,537003,85126,NaN,-2,12/3/2010 15:33,0.0,NaN,United Kingdom
7196,537004,21814,NaN,-30,12/3/2010 15:34,0.0,NaN,United Kingdom
7197,537005,21692,NaN,-70,12/3/2010 15:35,0.0,NaN,United Kingdom
7198,537006,21648,NaN,-130,12/3/2010 15:36,0.0,NaN,United Kingdom
7199,537007,21172,NaN,-80,12/3/2010 15:36,0.0,NaN,United Kingdom
7200,537008,21161,NaN,-120,12/3/2010 15:37,0.0,NaN,United Kingdom
7201,537009,84534B,NaN,-80,12/3/2010 15:38,0.0,NaN,United Kingdom
7202,537010,22162,NaN,-40,12/3/2010 15:38,0.0,NaN,United Kingdom
7203,537011,22139,NaN,-5,12/3/2010 15:38,0.0,NaN,United Kingdom
7204,537012,21535,NaN,-12,12/3/2010 15:39,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
497632,578431,22579,NaN,-18,11/24/2011 12:15,0.0,NaN,United Kingdom
497677,578456,22579,NaN,11,11/24/2011 12:29,0.0,NaN,United Kingdom
498597,578529,22087,NaN,-23,11/24/2011 14:29,0.0,NaN,United Kingdom
499156,578628,23541,NaN,20,11/24/2011 15:55,0.0,NaN,United Kingdom
499157,578629,22943,NaN,24,11/24/2011 15:56,0.0,NaN,United Kingdom
499169,578632,22579,NaN,4,11/24/2011 16:22,0.0,NaN,United Kingdom
499787,578693,21811,NaN,1,11/25/2011 9:38,0.0,NaN,United Kingdom
500161,578738,21638,NaN,-33,11/25/2011 11:33,0.0,NaN,United Kingdom
508796,579272,22812,NaN,2,11/29/2011 10:00,0.0,NaN,United Kingdom
510622,579460,21110,NaN,-151,11/29/2011 14:39,0.0,NaN,United Kingdom
511451,579500,22810,NaN,33,11/29/2011 16:14,0.0,NaN,United Kingdom
514205,579688,21116,NaN,-33,11/30/2011 13:51,0.0,NaN,United Kingdom
514287,579691,47503A,NaN,-5,11/30/2011 14:05,0.0,NaN,United Kingdom
514651,579738,21927,NaN,8,11/30/2011 14:26,0.0,NaN,United Kingdom
516189,579880,22947,NaN,5,11/30/2011 17:14,0.0,NaN,United Kingdom
517719,580087,84341B,NaN,-2,12/1/2011 14:27,0.0,NaN,United Kingdom
519967,580197,22696,NaN,6,12/2/2011 12:04,0.0,NaN,United Kingdom
521333,580359,20775,NaN,-35,12/2/2011 16:11,0.0,NaN,United Kingdom
522160,580379,72225C,NaN,-144,12/2/2011 17:57,0.0,NaN,United Kingdom
522162,580381,21758,NaN,-9,12/2/2011 17:58,0.0,NaN,United Kingdom
524473,580580,21804,NaN,10,12/5/2011 10:33,0.0,NaN,United Kingdom
524475,580588,21808,NaN,5,12/5/2011 10:35,0.0,NaN,United Kingdom
529667,580743,47591B,NaN,1,12/6/2011 9:30,0.0,NaN,United Kingdom
533711,581102,21803,NaN,20,12/7/2011 11:57,0.0,NaN,United Kingdom
533712,581103,22689,NaN,4,12/7/2011 11:58,0.0,NaN,United Kingdom
535322,581199,84581,NaN,-2,12/7/2011 18:26,0.0,NaN,United Kingdom
535326,581203,23406,NaN,15,12/7/2011 18:31,0.0,NaN,United Kingdom
535332,581209,21620,NaN,6,12/7/2011 18:35,0.0,NaN,United Kingdom
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom

In [52]:
Transaction[Transaction['CustomerID'].isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,NaN,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom
1448,536544,21791,VINTAGE HEADS AND TAILS CARD GAME,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1449,536544,21801,CHRISTMAS TREE DECORATION WITH BELL,10,12/1/2010 14:32,0.43,NaN,United Kingdom
1450,536544,21802,CHRISTMAS TREE HEART DECORATION,9,12/1/2010 14:32,0.43,NaN,United Kingdom
1451,536544,21803,CHRISTMAS TREE STAR DECORATION,11,12/1/2010 14:32,0.43,NaN,United Kingdom
1452,536544,21809,CHRISTMAS HANGING TREE WITH BELL,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1453,536544,21810,CHRISTMAS HANGING STAR WITH BELL,3,12/1/2010 14:32,2.51,NaN,United Kingdom
1454,536544,21811,CHRISTMAS HANGING HEART WITH BELL,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1455,536544,21821,GLITTER STAR GARLAND WITH BELLS,1,12/1/2010 14:32,7.62,NaN,United Kingdom
1456,536544,21822,GLITTER CHRISTMAS TREE WITH BELLS,1,12/1/2010 14:32,4.21,NaN,United Kingdom
1457,536544,21823,PAINTED METAL HEART WITH HOLLY BELL,2,12/1/2010 14:32,2.98,NaN,United Kingdom
1458,536544,21844,RED RETROSPOT MUG,2,12/1/2010 14:32,5.91,NaN,United Kingdom
1459,536544,21851,LILAC DIAMANTE PEN IN GIFT BOX,1,12/1/2010 14:32,4.21,NaN,United Kingdom
1460,536544,21870,I CAN ONLY PLEASE ONE PERSON MUG,1,12/1/2010 14:32,3.36,NaN,United Kingdom
1461,536544,21871,SAVE THE PLANET MUG,5,12/1/2010 14:32,3.36,NaN,United Kingdom
1462,536544,21874,GIN AND TONIC MUG,1,12/1/2010 14:32,3.36,NaN,United Kingdom
1463,536544,21879,HEARTS GIFT TAPE,1,12/1/2010 14:32,1.66,NaN,United Kingdom
1464,536544,21884,CAKES AND BOWS GIFT TAPE,1,12/1/2010 14:32,1.66,NaN,United Kingdom
1465,536544,21888,BINGO SET,1,12/1/2010 14:32,7.62,NaN,United Kingdom
1466,536544,21889,WOODEN BOX OF DOMINOES,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1467,536544,21892,TRADITIONAL WOODEN CATCH CUP GAME,3,12/1/2010 14:32,2.51,NaN,United Kingdom
1468,536544,21894,POTTING SHED SEED ENVELOPES,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1469,536544,21911,GARDEN METAL SIGN,1,12/1/2010 14:32,3.36,NaN,United Kingdom
1470,536544,21912,VINTAGE SNAKES & LADDERS,3,12/1/2010 14:32,7.62,NaN,United Kingdom
1471,536544,21913,VINTAGE SEASIDE JIGSAW PUZZLES,1,12/1/2010 14:32,7.62,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541511,581498,71053,WHITE MOROCCAN METAL LANTERN,1,12/9/2011 10:26,8.29,NaN,United Kingdom
541512,581498,72349b,SET/6 PURPLE BUTTERFLY T-LIGHTS,2,12/9/2011 10:26,4.13,NaN,United Kingdom
541513,581498,79321,CHILLI LIGHTS,10,12/9/2011 10:26,12.46,NaN,United Kingdom
541514,581498,82001s,SILVER RECORD COVER FRAME,2,12/9/2011 10:26,7.46,NaN,United Kingdom
541515,581498,82482,WOODEN PICTURE FRAME WHITE FINISH,4,12/9/2011 10:26,4.96,NaN,United Kingdom
541516,581498,82552,WASHROOM METAL SIGN,1,12/9/2011 10:26,2.46,NaN,United Kingdom
541517,581498,82580,BATHROOM METAL SIGN,1,12/9/2011 10:26,1.25,NaN,United Kingdom
541518,581498,82581,TOILET METAL SIGN,1,12/9/2011 10:26,1.25,NaN,United Kingdom
541519,581498,82600,N0 SINGING METAL SIGN,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541520,581498,84029E,RED WOOLLY HOTTIE WHITE HEART.,4,12/9/2011 10:26,8.29,NaN,United Kingdom
541521,581498,84032A,CHARLIE+LOLA PINK HOT WATER BOTTLE,4,12/9/2011 10:26,5.79,NaN,United Kingdom
541522,581498,84032B,CHARLIE + LOLA RED HOT WATER BOTTLE,3,12/9/2011 10:26,3.29,NaN,United Kingdom
541523,581498,84375,SET OF 20 KIDS COOKIE CUTTERS,3,12/9/2011 10:26,4.13,NaN,United Kingdom
541524,581498,84509a,SET OF 4 ENGLISH ROSE PLACEMATS,1,12/9/2011 10:26,7.46,NaN,United Kingdom
541525,581498,84558a,3D DOG PICTURE PLAYING CARDS,1,12/9/2011 10:26,5.79,NaN,United Kingdom
541526,581498,84832,ZINC WILLIE WINKIE CANDLE STICK,26,12/9/2011 10:26,1.63,NaN,United Kingdom
541527,581498,84968e,SET OF 16 VINTAGE BLACK CUTLERY,1,12/9/2011 10:26,24.96,NaN,United Kingdom
541528,581498,84970s,HANGING HEART ZINC T-LIGHT HOLDER,1,12/9/2011 10:26,2.08,NaN,United Kingdom
541529,581498,84997a,CHILDRENS CUTLERY POLKADOT GREEN,2,12/9/2011 10:26,8.29,NaN,United Kingdom
541530,581498,84997b,CHILDRENS CUTLERY RETROSPOT RED,3,12/9/2011 10:26,8.29,NaN,United Kingdom
541531,581498,84997d,CHILDRENS CUTLERY POLKADOT PINK,1,12/9/2011 10:26,8.29,NaN,United Kingdom
541532,581498,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,1,12/9/2011 10:26,4.13,NaN,United Kingdom
541533,581498,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,1,12/9/2011 10:26,16.63,NaN,United Kingdom
541534,581498,85049a,TRADITIONAL CHRISTMAS RIBBONS,5,12/9/2011 10:26,3.29,NaN,United Kingdom
541535,581498,85049e,SCANDINAVIAN REDS RIBBONS,4,12/9/2011 10:26,3.29,NaN,United Kingdom
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/9/2011 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/9/2011 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/9/2011 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/9/2011 10:26,1714.17,NaN,United Kingdom

In [54]:
Transaction['Description'].loc[Transaction['Description'].isnull()]

622       NaN
1970      NaN
1971      NaN
1972      NaN
1987      NaN
1988      NaN
2024      NaN
2025      NaN
2026      NaN
2406      NaN
4347      NaN
4348      NaN
7187      NaN
7188      NaN
7189      NaN
7190      NaN
7191      NaN
7192      NaN
7193      NaN
7194      NaN
7195      NaN
7196      NaN
7197      NaN
7198      NaN
7199      NaN
7200      NaN
7201      NaN
7202      NaN
7203      NaN
7204      NaN
         ...
497632    NaN
497677    NaN
498597    NaN
499156    NaN
499157    NaN
499169    NaN
499787    NaN
500161    NaN
508796    NaN
510622    NaN
511451    NaN
514205    NaN
514287    NaN
514651    NaN
516189    NaN
517719    NaN
519967    NaN
521333    NaN
522160    NaN
522162    NaN
524473    NaN
524475    NaN
529667    NaN
533711    NaN
533712    NaN
535322    NaN
535326    NaN
535332    NaN
536981    NaN
538554    NaN
Name: Description, Length: 1454, dtype: object

In [55]:
Transaction['Total Price'] = Transaction['Quantity'] * Transaction['UnitPrice']

In [57]:
Transaction.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [58]:
Transaction.max()

InvoiceNo            C581569
StockCode                  m
Quantity               80995
InvoiceDate    9/9/2011 9:52
UnitPrice              38970
CustomerID             18287
Country          Unspecified
Total Price           168470
dtype: object

In [59]:
Transaction[Transaction['Total Price'] > 5000]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
15017,537632,AMAZONFEE,AMAZON FEE,1,12/7/2010 15:08,13541.33,NaN,United Kingdom,13541.33
52711,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,1/11/2011 12:55,2.10,15749.0,United Kingdom,6539.40
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,1/18/2011 10:01,1.04,12346.0,United Kingdom,77183.60
160546,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,4/18/2011 13:20,2.10,15749.0,United Kingdom,6539.40
173382,551697,POST,POSTAGE,1,5/3/2011 13:46,8142.75,16029.0,United Kingdom,8142.75
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,6/10/2011 15:28,649.50,15098.0,United Kingdom,38970.00
299982,A563185,B,Adjust bad debt,1,8/12/2011 14:50,11062.06,NaN,United Kingdom,11062.06
348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,9/20/2011 11:05,5.06,17450.0,United Kingdom,7144.72
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,12/9/2011 9:15,2.08,16446.0,United Kingdom,168469.60

In [60]:
Transaction[Transaction['Total Price'] < .001]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom,-27.50
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom,-4.65
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom,-19.80
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom,-6.96
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom,-6.96
238,C536391,21980,PACK OF 12 RED RETROSPOT TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom,-6.96
239,C536391,21484,CHICK GREY HOT WATER BOTTLE,-12,12/1/2010 10:24,3.45,17548.0,United Kingdom,-41.40
240,C536391,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom,-19.80
241,C536391,22553,PLASTERS IN TIN SKULLS,-24,12/1/2010 10:24,1.65,17548.0,United Kingdom,-39.60
622,536414,22139,NaN,56,12/1/2010 11:52,0.00,NaN,United Kingdom,0.00
939,C536506,22960,JAM MAKING SET WITH JARS,-6,12/1/2010 12:38,4.25,17897.0,United Kingdom,-25.50
1441,C536543,22632,HAND WARMER RED RETROSPOT,-1,12/1/2010 14:30,2.10,17841.0,United Kingdom,-2.10
1442,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,12/1/2010 14:30,0.85,17841.0,United Kingdom,-1.70
1970,536545,21134,NaN,1,12/1/2010 14:32,0.00,NaN,United Kingdom,0.00
1971,536546,22145,NaN,1,12/1/2010 14:33,0.00,NaN,United Kingdom,0.00
1972,536547,37509,NaN,1,12/1/2010 14:33,0.00,NaN,United Kingdom,0.00
1973,C536548,22244,3 HOOK HANGER MAGIC GARDEN,-4,12/1/2010 14:33,1.95,12472.0,Germany,-7.80
1974,C536548,22242,5 HOOK HANGER MAGIC TOADSTOOL,-5,12/1/2010 14:33,1.65,12472.0,Germany,-8.25
1975,C536548,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-1,12/1/2010 14:33,2.95,12472.0,Germany,-2.95
1976,C536548,22892,SET OF SALT AND PEPPER TOADSTOOLS,-7,12/1/2010 14:33,1.25,12472.0,Germany,-8.75
1977,C536548,22654,DELUXE SEWING KIT,-1,12/1/2010 14:33,5.95,12472.0,Germany,-5.95
1978,C536548,22767,TRIPLE PHOTO FRAME CORNICE,-2,12/1/2010 14:33,9.95,12472.0,Germany,-19.90
1979,C536548,22333,RETROSPOT PARTY BAG + STICKER SET,-1,12/1/2010 14:33,1.65,12472.0,Germany,-1.65
1980,C536548,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",-2,12/1/2010 14:33,0.85,12472.0,Germany,-1.70
1981,C536548,22077,6 RIBBONS RUSTIC CHARM,-6,12/1/2010 14:33,1.65,12472.0,Germany,-9.90
1982,C536548,22631,CIRCUS PARADE LUNCH BOX,-1,12/1/2010 14:33,1.95,12472.0,Germany,-1.95
1983,C536548,22168,ORGANISER WOOD ANTIQUE WHITE,-2,12/1/2010 14:33,8.50,12472.0,Germany,-17.00
1984,C536548,21218,RED SPOTTY BISCUIT TIN,-3,12/1/2010 14:33,3.75,12472.0,Germany,-11.25
1985,C536548,20957,PORCELAIN HANGING BELL SMALL,-1,12/1/2010 14:33,1.45,12472.0,Germany,-1.45
1986,C536548,22580,ADVENT CALENDAR GINGHAM SACK,-4,12/1/2010 14:33,5.95,12472.0,Germany,-23.80
...,...,...,...,...,...,...,...,...,...
538565,C581409,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,-2,12/8/2011 14:08,3.29,12476.0,Germany,-6.58
538566,C581409,85199L,LARGE HANGING IVORY & RED WOOD BIRD,-1,12/8/2011 14:08,0.65,12476.0,Germany,-0.65
538567,C581409,85127,SMALL SQUARE CUT GLASS CANDLESTICK,-5,12/8/2011 14:08,4.95,12476.0,Germany,-24.75
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.00,NaN,United Kingdom,-0.00
540072,C581460,22197,POPCORN HOLDER,-5,12/8/2011 18:48,0.72,13078.0,United Kingdom,-3.60
540073,C581460,22107,PIZZA PLATE IN BOX,-1,12/8/2011 18:48,1.25,13078.0,United Kingdom,-1.25
540078,C581462,16219,HOUSE SHAPE PENCIL SHARPENER,-48,12/8/2011 18:51,0.06,12985.0,United Kingdom,-2.88
540079,C581462,21642,ASSORTED TUTTI FRUTTI PEN,-72,12/8/2011 18:51,0.29,12985.0,United Kingdom,-20.88
540080,C581463,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,-2,12/8/2011 18:56,7.95,17526.0,United Kingdom,-15.90
540081,C581464,23458,DOLLY CABINET 3 DRAWERS,-1,12/8/2011 18:57,14.95,15951.0,United Kingdom,-14.95
540082,C581464,71477,COLOURED GLASS STAR T-LIGHT HOLDER,-6,12/8/2011 18:57,3.95,15951.0,United Kingdom,-23.70
540083,C581465,23660,HENRIETTA HEN MUG,-2,12/8/2011 18:59,1.65,15755.0,United Kingdom,-3.30
540084,C581465,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,-1,12/8/2011 18:59,8.50,15755.0,United Kingdom,-8.50
540085,C581465,21876,POTTERING MUG,-4,12/8/2011 18:59,1.65,15755.0,United Kingdom,-6.60
540086,C581465,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,-3,12/8/2011 18:59,2.95,15755.0,United Kingdom,-8.85
540087,C581466,22838,3 TIER CAKE TIN RED AND CREAM,-1,12/8/2011 19:20,14.95,13883.0,United Kingdom,-14.95
540088,C581466,22720,SET OF 3 CAKE TINS PANTRY DESIGN,-2,12/8/2011 19:20,4.95,13883.0,United Kingdom,-9.90
540089,C581466,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",-1,12/8/2011 19:20,4.95,13883.0,United Kingdom,-4.95
540090,C581466,21535,RED RETROSPOT SMALL MILK JUG,-2,12/8/2011 19:20,2.55,13883.0,United Kingdom,-5.10
540091,C581466,21232,STRAWBERRY CERAMIC TRINKET POT,-1,12/8/2011 19:20,1.25,13883.0,United Kingdom,-1.25
540141,C581468,21314,SMALL GLASS HEART TRINKET POT,-10,12/8/2011 19:26,2.10,13599.0,United Kingdom,-21.00
540142,C581468,22098,BOUDOIR SQUARE TISSUE BOX,-12,12/8/2011 19:26,0.39,13599.0,United Kingdom,-4.68
540176,C581470,23084,RABBIT NIGHT LIGHT,-4,12/8/2011 19:28,2.08,17924.0,United Kingdom,-8.32
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,12/9/2011 9:27,2.08,16446.0,United Kingdom,-168469.60
540448,C581490,22178,VICTORIAN GLASS HANGING T-LIGHT,-12,12/9/2011 9:57,1.95,14397.0,United Kingdom,-23.40
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom,-9.13
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom,-224.69
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom,-54.75
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom,-1.25
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom,-6.25

In [61]:
Transaction_Over_Zero = Transaction[Transaction['Total Price'] >= .01]

In [62]:
Transaction_Over_Zero.shape

(530100, 9)

In [72]:
Transaction_Below_5000 = Transaction['Total Price'] < 5000

In [73]:
Transaction_Above_001 = Transaction['Total Price'] > .01

In [78]:
A_T = (Transaction_Above_001) & (Transaction_Below_5000)

In [80]:
Actual = Transaction[A_T]

In [81]:
Actual.describe()

            Quantity      UnitPrice     CustomerID    Total Price
count  530091.000000  530091.000000  397873.000000  530091.000000
mean       10.234958       3.844698   15294.423952      19.485507
std        37.260212      24.244893    1713.149140      67.195361
min         1.000000       0.040000   12347.000000       0.060000
25%         1.000000       1.250000   13969.000000       3.750000
50%         3.000000       2.080000   15159.000000       9.900000
75%        10.000000       4.130000   16795.000000      17.700000
max      4800.000000    4505.170000   18287.000000    4992.000000